*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar{
    position: fixed;
    background-color: rgb(170, 119, 25);
    left: -250px;
    width: 250px;
    color: #fff;
    height: 100vh;
    transition: all .2s ease;
}
.sidebar .logo{
    margin: 5px;
    padding: 5px;
}
.sidebar .logo h1{
    padding: 5px;
    font-weight: 500;
}
 .links{
    margin: 5px;
    padding: 5px;
 }
 .links ul{
    list-style: none;
 }
 .links ul li{
    margin: 5px;
    padding: 5px;
    border-bottom: 1px solid #fff;
    border-radius: 5px;
 }
 .links ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
 }
 .links ul li a:hover{
    color: blue;
    margin: 3px;
 }
 #check{
    display: none;
 }
 label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background: #b38b09;
    border-radius: 3px;
 }
 label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .2s ease;
 }
 label #cancel{
    z-index: 111;
    left: -215px;
    top: 5px;
    font-size: 20px;
    color: #fff;
    padding: 4px 9px;
    transition: all .2s ease;
 }
 #check:checked ~ .sidebar{
    left: 0;
 }
 #check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
 }
 #check:checked ~ label #cancel{
    left: 215px;
 }
 #check:checked ~.products{
    margin-left: 250px;
 }
